{{ attach_library('surface/featured-card') }}

<div class="featured-card{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="featured-card__image">
    {{ image }}
  </div>
  <div class="featured-card__content">
    {% if event_type %}
      {% include "@components/eyebrow/eyebrow.twig" with {
        'eyebrow': event_type
      } only %}
    {% endif %}

    {% include '@components/title/title.twig' with {
      'title': title,
    } only %}

    {% if subtitle %}
      {% include '@components/title/title.twig' with {
        'title': subtitle,
      } only %}
    {% endif %}

    {% if organization %}
      <div class="featured-card__organization-name mb-2">
        <span class="fa-solid fa-location-dot"></span>
        {{ organization }}
      </div>
    {% endif %}

    <div class="featured-card__date--wrapper">
      {% include '@components/date/date.twig' with {
        'modifier': date.modifier,
        'date': date.date,
      } only %}
    </div>

    {% if readtime %}
      {% include '@components/readtime/readtime.twig' with {
        'readtime': readtime
      } %}
    {% endif %}

    {# Event cta. #}
    {% include '@components/button/button.twig' with {
      'button': cta,
    } only %}
  </div>
</div>
